---
layout: collection_index
---

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Publication</th>
      <th>Year</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    {% for project in site.writing %}
    <tr>
      {% if project.title %}
      <td>{{ project.title }}</td>
      {% endif%} {% if project.publication %}
      <td>{{ project.publication }}</td>
      {% endif%} {% if project.year%}
      <td>{{ project.year }}</td>
      {% endif%} {% if project.link%}
      <td><a title="{{ project.title }}" href="{{ project.url }}">Link</a></td>
      {% endif%}
    </tr>
    {% endfor %}
  </tbody>
</table>
