@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-display: swap;
  font-weight: 400 800;
  src:
    local("EB Garamond"),
    url("assets/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-display: swap;
  font-weight: 400 800;
  src:
    local("EB Garamond"),
    url("assets/fonts/EBGaramond-Italic-VariableFont_wght.ttf")
      format("truetype");
}

:root {
  color-scheme: light dark;

  --light-bg: white;
  --light-color: black;

  --dark-bg: black;
  --dark-color: white;
}
body {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}

body {
  padding: 1em;
}

h1,
h2,
h3,
p,
a,
table {
  font-family: "EB Garamond", "Times New Roman", serif, system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
  white-space: no-wrap;
}

a {
  color: inherit;
}

p {
  margin-block-start: 0;
}

body > header,
body > nav {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body > header h1 a {
  text-decoration: none;
}

body > nav {
  & ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  & li {
    display: inline-block;
    padding: 0.5em;
  }

  & h2 {
    display: none;
  }
}

table {
  width: 100%;
  text-align: center;
  border: none;
  border-collapse: collapse;
}

thead {
  display: none;
}

tr {
  display: block;
  margin-bottom: 1em;
}

td {
  display: inline-block;
}

th,
td {
  border: none;
}

td:not(:last-child):after {
  content: ",";
}

article h1 {
  text-align: center;
}

@media only screen and (width >= 50em) {
  body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 150ch;
    margin: 0 auto;
  }

  body > header {
    grid-column: 1 / -1;
  }

  body > nav {
    display: revert;
    grid-column: 2 / 4;
    text-align: revert;

    & ul,
    & li,
    & h2 {
      display: revert;
      padding: 0;
      margin-bottom: 1em;
    }
  }

  main {
    grid-column: 5 / 12;
  }

  table {
    text-align: left;
  }

  thead,
  tr,
  td {
    display: revert;
  }

  td,
  th {
    padding: 0.5em;
  }

  td:not(:last-child):after {
    content: revert;
  }

  tbody tr:hover {
    background-color: light-dark(var(--dark-bg), var(--light-bg));
    color: light-dark(var(--dark-color), var(--light-color));
    cursor: pointer;
  }

  article h1 {
    text-align: revert;
  }
}
