h1,
h2,
h3,
p,
a {
  font-family: "EB Garamond", "Times New Roman", serif, system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
  color: black;
}

header h1 {
  text-align: center;

  & a {
    text-decoration: none;
  }
}

nav {
  margin-bottom: 1em;
  border-bottom: solid 1px black;
  padding-bottom: 1em;

  & ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  & li {
    display: inline;
    margin-right: 1em;
  }

  & h2 {
    display: none;
  }
}

thead {
  display: none;
}

tr {
  display: block;
  margin-bottom: 1em;
}

td {
  display: inline-block;
}

td:not(:last-child):after {
  content: ",";
}

@media only screen and (width >= 50em) {
  body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  header {
    grid-column: 1 / -1;
  }

  main {
    grid-column: 5 / 11;
  }

  nav {
    grid-column: 2 / 4;
    border-bottom: none;

    & ul,
    & li,
    & h2 {
      display: revert;
    }
  }

  table {
    width: 100%;
    text-align: center;
  }

  thead,
  tr,
  td {
    display: revert;
  }

  td,
  th {
    padding-bottom: 1em;
  }

  td:not(:last-child):after {
    content: revert;
  }
}
