body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
header {
  grid-column: 1 / -1;
}
nav {
  grid-column: 2 / 4;
}
main {
  grid-column: 4 / 11;
}
h1 {
  text-align: center;
}
table {
  border-collapse: collapse;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
