---
import Default from '../layouts/Default.astro';
---

<Default title="About">
  <p>I am a writer and editor based in Paris.</p><p>
    I am currently deputy editor at <a href="https://www.kinfolk.com"
      ><cite>Kinfolk</cite></a
    > and the editor of <a href="https://footnotemag.com/"
      ><cite>Footnote</cite></a
    >.
  </p><p>
    Follow me on Instagram <a href="https://www.instagram.com/gaupton"
      >@gaupton</a
    >.
  </p>
</Default>
