---
import Default from './Default.astro';
const { title, url } = Astro.props;
---

<Default title={title}>
  <article>
    <header>
      {
        title && (
          <h1>
            <a rel="bookmark" title="{ title }" href=`${ url }`>
              {title}
            </a>
          </h1>
        )
      }
    </header>
    <section>
      <slot />
    </section>
    </article>
</Default >
